@use "../utils" as *;
.todolist{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  //box-shadow: 0 0 5px rgba(0,0,0, .4);
  &__list{
    list-style-type: none;
    &__item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      border-bottom: 1px solid $l-light-grayish-blue;
      div{
        display: flex;
        p{
          margin-left: .5em;
        }
      }
      button{
        padding: .15em;
        border: 1px solid transparent;
        background: none;
      }
    }
  }
  &__summary{

  }
}