@use "../utils" as *;
.todolist{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  //box-shadow: 0 0 5px rgba(0,0,0, .4);
  &__list{
    list-style-type: none;
    &__item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      border-bottom: 1px solid $l-light-grayish-blue;
      div{
        display: flex;
        p{
          margin-left: .5em;
        }
        input[type='checkbox']{
          margin: 0;
          width: 20px;
          height: 20px;
          display: grid;
          place-content: center;
          border: 1px solid $l-light-grayish-blue;
          border-radius: 50%;
          appearance: none;
          background-color: #fff;
          cursor: pointer;
          &::before{
            content: url("../../images/icon-check.svg");
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-image: $checkbox-bg;
            transform: scale(0);
            transition: transform .15s;
          }
          &:checked::before{
            transform: scale(1);
          }
        }
      }
      button{
        padding: .15em;
        border: 1px solid transparent;
        background: none;
      }
    }
  }
  &__summary{

  }
}